.catPage {
}

.storeItem {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 3px;
  margin-bottom: 1rem;
  padding: 0.5rem;
  justify-content: space-around;
  img {
    width: 100px;
  }
}

.Missionbar {
  div {
    .g-container {
      width: 10rem;
      height: 1rem;
      border-radius: 3px;
      background: #eee;
      border: 1px solid black;
      overflow: hidden;
      .g-progress {
        height: inherit;
        border-radius: 3px 0 0 3px;
        background: #0f0;
      }
    }
  }
}
