.subList {
  box-shadow: 0 0 1px $color_text_misc;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.domainbar {
  font-size: smaller;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statistics {
  div {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
  }
}
