$color_primary: #ffd26d;
$color_important: #7a1e27;
$color_important_selected: #d87a83;
$color_important_unactive: #f0b1b8;
$color_normal: #bfbab7;
$color_nav: #666666;
$color_title: #333333;
$color_background: #ffffff;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

@import './loading.css/dist/loading.css';
