// box general setting
.rssPage {
    height: fit-content;
    // border: 3px solid #2196f3;
}

.navigationBlock {
    margin: 8px 16px;

    nav {
        ul {
            list-style: none;
            li {
                display: flex;
                align-items: center;
                color: $color_text_category;
                letter-spacing: 0.2rem;

                position: relative;
                img {
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    left: 8px;
                    pointer-events: none;
                }
                a {
                    display: block;
                    text-decoration: none;
                    width: 100%;
                    height: 100%;
                    padding: 8px 16px;
                    text-align: center;
                }
            }
            li:hover {
                cursor: pointer;
                background-color: $color_main;
                border-radius: 5px;
            }
        }
    }
    .selected {
        // border: 3px solid #ffb70399;
        background-color: #ffb70399;
        border-radius: 5px;
    }
}

.articleBlock {
    padding: 0 0 16px 0;
    .articleImage {
        max-height: 273px;
        display: flex;
        overflow: hidden;
        // justify-content: center;

        img {
            max-width: 100%;
            object-fit: cover;
        }
    }
    .articleImage:hover {
        cursor: pointer;
    }
    .articleMain {
        padding: 8px 16px;
        min-height: 186px;
        max-height: 220px;
        overflow: hidden;
        position: relative;

        .articleProv {
            display: flex;
            .articleAuther,
            .articleSource {
                color: $color_text_misc;
                font-size: $font_size_misc;
                margin-right: 16px;
            }
        }

        h4 {
            margin-top: 16px;
            font-size: 1.5rem;
            color: $color_text_title_common;
        }
        .h4:hover {
            cursor: pointer;
        }

        .articleTags {
            display: flex;
            margin-top: 8px;

            .articleTag {
                color: $color_text_misc;
                font-size: $font_size_misc;
                margin-right: 16px;
            }
        }

        .articleDesc {
            margin-top: 24px;
            color: $color_text_common;
            font-size: $font_size_misc;
            text-align: justify;
        }
        .articleDesc:hover {
            cursor: pointer;
        }

        .articleController {
            position: absolute;
            right: 16px;
            top: -8px;
            margin-top: 16px;
            .articleLikeBtn {
                z-index: 5;
                border: none;
                background-color: transparent;

                img {
                    width: 24px;
                }
                img:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .articleMain:before {
        content: '';
        width: 100%;
        height: 30px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: linear-gradient(transparent, white);
    }
}

.switcher {
    .switch {
        width: 45px;
        height: 20px;
        margin-right: 16px;

        position: relative;
        display: inline-block;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    .slider:before {
        position: absolute;
        content: '';
        height: 20px;
        width: 20px;
        background-color: $color_main;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    input:checked + .slider {
        background-color: #2196f3;
    }
    input:focus + .slider {
        box-shadow: 0 0 1px #2196f3;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    // Rounded sliders
    .slider.round {
        border-radius: 25px;
    }
    .slider.round:before {
        border-radius: 50%;
    }
    .catHouse_s {
        margin-top: 2rem;
    }
}

.notFoundhint {
    margin-left: 24px;
}
