// box general setting
.rssPage {
  height: fit-content;
  // border: 3px solid #2196f3;
}

.navigationBlock {
  margin: 8px 16px;
  nav {
    ul {
      list-style: none;
      li {
        padding: 8px 16px;
        color: $color_text_category;
        letter-spacing: 0.2rem;
        img {
          width: 16px;
          margin-right: 16px;
        }
        a {
          text-decoration: none;
        }
      }
      li:hover {
        cursor: pointer;
        background-color: $color_main;
        border-radius: 5px;
      }
    }
  }
}

.catBlock {
  padding: 8px 16px;

  display: flex;
  flex-direction: column;
  .catBlockController {
    display: flex;

    p {
      color: $color_text_category;
    }
    /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 45px;
      height: 20px;
    }

    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: '';
      height: 20px;
      width: 20px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    input:checked + .slider {
      background-color: #2196f3;
    }
    input:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    // Rounded sliders
    .slider.round {
      border-radius: 25px;
    }
    .slider.round:before {
      border-radius: 50%;
    }
    .catHouse_s {
      margin-top: 2rem;
    }
  }
}

.articleBlock {
  .articleImage {
    max-height: 273px;
    overflow: hidden;

    img {
      max-width: 100%;
    }
  }
  .articleMain {
    padding: 8px 16px;
    min-height: 186px;

    position: relative;

    .articleProv {
      display: flex;
      .articleAuther,
      .articleSource {
        color: $color_text_misc;
        font-size: $font_size_misc;
        margin-right: 16px;
      }
    }

    h4 {
      margin: 8px 0px;
      color: $color_text_title_common;
    }

    .articleTags {
      display: flex;

      .articleTag {
        color: $color_text_misc;
        font-size: $font_size_misc;
        margin-right: 16px;
      }
    }

    .articleDesc {
      margin-top: 16px;
      color: $color_text_common;
    }

    .articleController {
      position: absolute;
      right: 16px;
      top: -8px;
      margin-top: 16px;
      .articleLikeBtn {
        border: none;
        background-color: transparent;

        img {
          width: 24px;
        }
        img:hover {
          cursor: pointer;
        }
      }
    }
  }
}
