@import url(/Users/aming/github/rsscat_web/src/styles/loading.css/dist/loading.css);
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
  color: #404040;
}

#root {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eeeeee;
}

.block {
  margin: 8px 16px;
  border: 1px solid #dddddd;
  border-radius: 7.5px;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 5px #dddddd;
          box-shadow: 2px 2px 5px #dddddd;
  overflow: hidden;
  padding: 8px 16px;
}

.button {
  margin: 8px 16px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.buttonInside {
  margin: 8px 16px 8px 0px;
  padding: 4px 8px;
  background-color: white;
  border: 1px solid #525252;
  border-radius: 3px;
}

.button:hover,
.buttonInside:hover {
  cursor: pointer;
  background-color: #ffb703;
}

.inputFilter {
  padding: 4px 8px;
  background-color: white;
  border: 1px solid #525252;
  border-radius: 3px;
}

.rwd {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1280px;
          flex: 0 1 1280px;
  width: 100%;
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rwd .leftNav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 240px;
          flex: 0 0 240px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 64px;
}

.rwd .mainInfo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 693.33333px;
          flex: 0 1 693.33333px;
  padding: 8px;
}

.rwd .RightNav {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 346.66667px;
          flex: 0 1 346.66667px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 64px;
}

@media screen and (max-width: 1024px) {
  .rwd .leftNav {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 240px;
            flex: 0 1 240px;
  }
  .rwd .mainInfo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 784px;
            flex: 0 1 784px;
  }
  .rwd .RightNav {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .rwd .leftNav {
    display: none;
  }
  .rwd .mainInfo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 768px;
            flex: 0 1 768px;
  }
  .rwd .RightNav {
    display: none;
  }
}

.rwdTwoColumn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1280px;
          flex: 0 1 1280px;
  width: 100%;
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rwdTwoColumn .leftNav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 240px;
          flex: 0 0 240px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 64px;
}

.rwdTwoColumn .mainInfo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1040px;
          flex: 0 1 1040px;
  scroll-snap-stop: always;
}

@media screen and (max-width: 1024px) {
  .rwdTwoColumn .leftNav {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 240px;
            flex: 0 1 240px;
  }
  .rwdTwoColumn .mainInfo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 784px;
            flex: 0 1 784px;
  }
}

@media screen and (max-width: 768px) {
  .rwdTwoColumn .leftNav {
    display: none;
  }
  .rwdTwoColumn .mainInfo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 768px;
            flex: 0 1 768px;
  }
}

.header {
  width: 100%;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header .headerBox {
  max-width: 1280px;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1280px;
          flex: 0 1 1280px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .headerBox div {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .headerBox div img {
  height: inherit;
  padding: 8px 16px;
}

.header .headerBox div h1 {
  padding: 8px;
  font-size: 1.5rem;
}

.header .headerBox div h1:hover {
  cursor: pointer;
}

.header .headerBox div .searchBar {
  padding: 1rem;
  position: relative;
}

.header .headerBox div .searchBar input {
  width: 250px;
  height: 2rem;
  border-radius: 4px;
  padding: 0.5rem;
}

.header .headerBox div .searchBar img {
  height: 75%;
  position: absolute;
  right: 0;
}

.header .headerBox div .searchBar img:hover {
  cursor: pointer;
}

.header .headerBox nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .headerBox nav ul li {
  padding: 8px 16px;
}

.header .headerBox nav ul li a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .header .headerBox div .searchBar {
    display: none;
  }
}

.footer {
  width: 100%;
  height: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #525252;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0%;
}

.footer .footerBox {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footerBox .attribute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px 16px;
  font-size: 0.75rem;
}

.footer .footerBox .attribute a {
  color: #f9f9f9;
}

.footer .footerBox .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px 16px;
  font-size: 0.75rem;
}

.footer .footerBox .copyright p {
  color: #f9f9f9;
}

.homePage {
  width: 100%;
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homePage .showcase {
  width: inherit;
  height: 50vh;
}

.homePage .show1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../assets/svg/Leave-100s-1440px_green.svg");
  background-size: auto;
}

.homePage .show1 h1 {
  text-align: center;
  font-size: 2rem;
  color: #090909;
}

.homePage .show1 h3 {
  text-align: center;
  margin-top: 30px;
  font-size: 1.5rem;
  color: #090909;
}

.homePage .show1 button {
  width: 10rem;
  height: 3rem;
  margin-top: 30px;
  background-color: #ffb703;
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .home .show1 h3 br {
    display: none;
    /* hide the BR tag for wider screens (i.e. disable the line break) */
  }
  .home .show1 button {
    width: 30rem;
  }
}

.signPage {
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.signPage h1 {
  color: #090909;
}

.signPage h3 {
  color: #525252;
  text-align: center;
  font-size: small;
}

.signPage .oauth {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 16px;
}

.signPage .oauth .facebook {
  width: 20rem !important;
  height: 2rem !important;
  border: 1px solid #525252;
  border-radius: 2px;
  -webkit-box-shadow: 4px 4px 4px #cccccc;
          box-shadow: 4px 4px 4px #cccccc;
  background-color: lightskyblue;
}

.signPage .oauth .facebook button {
  background-color: transparent;
  border: none;
  color: aliceblue;
  font-weight: 700;
  width: 100%;
  height: 100%;
  font-size: small;
}

.signPage .oauth .facebook button:hover,
.signPage .oauth .google button:hover {
  cursor: pointer;
}

.signPage .oauth .google {
  width: 20rem !important;
  height: 2rem !important;
  border: 1px solid #525252;
  border-radius: 2px;
  -webkit-box-shadow: 4px 4px 4px #cccccc;
          box-shadow: 4px 4px 4px #cccccc;
  background-color: lightcoral;
}

.signPage .oauth .google button {
  background-color: transparent;
  border: none;
  color: aliceblue;
  font-weight: 700;
  width: 100%;
  height: 100%;
  font-size: small;
}

.signPage .signbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signPage .signbox h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.signPage .signbox nav {
  width: 100%;
}

.signPage .signbox nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 100%;
}

.signPage .signbox nav ul li {
  width: 50%;
  height: 2rem;
  text-align: center;
  vertical-align: middle;
}

.signPage .signbox nav ul li.selected {
  background-color: #ffb703;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.signPage .signbox .signContent {
  border: 3px solid #ffb703;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.signPage .signbox .signContent .signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signPage .signbox .signContent .signin form {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signPage .signbox .signContent .signin div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.signPage .signbox .signContent .signin div button {
  width: 100%;
  height: 3rem;
}

.signPage .signbox .signContent .signin img {
  width: 25%;
}

.signPage .signbox .signContent .signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signPage .signbox .signContent .signup form {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signPage .signbox .signContent .signup div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.signPage .signbox .signContent .signup div button {
  width: 100%;
  height: 3rem;
}

.signPage .signbox .signContent .signup img {
  width: 25%;
}

@media screen and (max-height: 768px) {
  .sign {
    height: 100vh;
  }
}

.rssPage {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.navigationBlock {
  margin: 8px 16px;
}

.navigationBlock nav ul {
  list-style: none;
}

.navigationBlock nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #242424;
  letter-spacing: 0.2rem;
  position: relative;
}

.navigationBlock nav ul li img {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 8px;
  pointer-events: none;
}

.navigationBlock nav ul li a {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  text-align: center;
}

.navigationBlock nav ul li:hover {
  cursor: pointer;
  background-color: #ffb703;
  border-radius: 5px;
}

.navigationBlock .selected {
  background-color: #ffb70399;
  border-radius: 5px;
}

.articleBlock {
  padding: 0 0 16px 0;
}

.articleBlock .articleImage {
  max-height: 273px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.articleBlock .articleImage img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.articleBlock .articleImage:hover {
  cursor: pointer;
}

.articleBlock .articleMain {
  padding: 8px 16px;
  min-height: 186px;
  max-height: 220px;
  overflow: hidden;
  position: relative;
}

.articleBlock .articleMain .articleProv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.articleBlock .articleMain .articleProv .articleAuther,
.articleBlock .articleMain .articleProv .articleSource {
  color: #525252;
  font-size: 0.75rem;
  margin-right: 16px;
}

.articleBlock .articleMain h4 {
  margin-top: 16px;
  font-size: 1.5rem;
  color: #171717;
}

.articleBlock .articleMain .h4:hover {
  cursor: pointer;
}

.articleBlock .articleMain .articleTags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
}

.articleBlock .articleMain .articleTags .articleTag {
  color: #525252;
  font-size: 0.75rem;
  margin-right: 16px;
}

.articleBlock .articleMain .articleDesc {
  margin-top: 24px;
  color: #404040;
  font-size: 0.75rem;
  text-align: justify;
}

.articleBlock .articleMain .articleDesc:hover {
  cursor: pointer;
}

.articleBlock .articleMain .articleController {
  position: absolute;
  right: 16px;
  top: -8px;
  margin-top: 16px;
}

.articleBlock .articleMain .articleController .articleLikeBtn {
  z-index: 5;
  border: none;
  background-color: transparent;
}

.articleBlock .articleMain .articleController .articleLikeBtn img {
  width: 24px;
}

.articleBlock .articleMain .articleController .articleLikeBtn img:hover {
  cursor: pointer;
}

.articleBlock .articleMain:before {
  content: '';
  width: 100%;
  height: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(white));
  background: linear-gradient(transparent, white);
}

.switcher {
  /* Hide default HTML checkbox */
  /* The slider */
}

.switcher .switch {
  width: 45px;
  height: 20px;
  margin-right: 16px;
  position: relative;
  display: inline-block;
}

.switcher .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switcher .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switcher .slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  background-color: #ffb703;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switcher input:checked + .slider {
  background-color: #2196f3;
}

.switcher input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196f3;
          box-shadow: 0 0 1px #2196f3;
}

.switcher input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.switcher .slider.round {
  border-radius: 25px;
}

.switcher .slider.round:before {
  border-radius: 50%;
}

.switcher .catHouse_s {
  margin-top: 2rem;
}

.notFoundhint {
  margin-left: 24px;
}

.domainManager .domainSearchBar {
  margin: 8px 0;
}

.domainManager .subList {
  border: 0.2px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  height: 60vh;
}

.domainbar {
  font-size: smaller;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid black;
}

.statistics div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 16px;
}

.rssRegister {
  margin: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rssRegister button {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.newsContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.newsContainer .articleBlock {
  width: 45%;
}

.tagManager .tagController {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tagManager .tagController .tagControllerLikedTags,
.tagManager .tagController .tagControllerDisikedTags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tagbar {
  padding: 2px;
  margin: 3px;
  -webkit-box-shadow: 1px 1px 2px #dddddd;
          box-shadow: 1px 1px 2px #dddddd;
  border: 1px solid #525252;
  border-radius: 3px;
}

.tagbar .tagInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: 4rem;
  border: 1px solid #eeeeee;
}

.tagbar .tagInfo .tagCounts {
  font-size: small;
}

.tagbar .tagInfo button {
  width: 100%;
  font-size: small;
  background-color: #ffb703;
}

.tagbar .tagInfo button:hover {
  cursor: pointer;
}

.tagbar .tagInfo .tagbarUnactive {
  background-color: #9c9c9c;
}

.catBlock {
  padding: 8px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catBlock .catBlockController {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* The switch - the box around the slider */
}

.catBlock .catBlockController p {
  color: #242424;
  margin-right: 8px;
}

.catBlock .catHouse_s {
  height: 150px;
  background-image: url("../assets/svg/Leave-100s-1440px_green.svg");
  background-size: cover;
  border: 1px solid #dddddd;
}

.catBlock .catHouse_s .cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catPage .money {
  margin: 16px 0;
  color: #ffb703;
}

.catPage .storeList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.storeItem {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  border-radius: 3px;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.storeItem img {
  width: 150px;
}

.storeItem h3 {
  margin: auto;
}

.storeItem div {
  margin-left: auto;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.storeItem div p {
  width: 50%;
  margin: 8px 0;
  color: #ffb703;
}

.storeItem div button {
  width: 50%;
  margin: 16px 0;
}

.Missionbar {
  margin: 16px 0;
  position: relative;
  border-radius: 3px;
}

.Missionbar .missionTtile {
  width: 100%;
  font-size: small;
}

.Missionbar .missionReward {
  width: 100%;
  font-size: small;
  display: inline-block;
}

.Missionbar .g-container {
  width: 8rem;
  height: 1rem;
  border-radius: 3px;
  background: #eee;
  border: 1px solid black;
  overflow: hidden;
  display: inline-block;
}

.Missionbar .g-container .g-progress {
  height: inherit;
  border-radius: 3px 0 0 3px;
  background: #2196f366;
}

.Missionbar .g-container .g-progress .missionState {
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 0.8rem;
}

.missionTimer p {
  font-size: small;
}
/*# sourceMappingURL=app.css.map */