* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
  color: #404040;
}

#root {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
}

.block {
  margin: 8px 16px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 4px #dddddd;
          box-shadow: 2px 2px 4px #dddddd;
  overflow: hidden;
}

.rwd {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1280px;
          flex: 0 1 1280px;
  width: 100%;
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rwd .leftNav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 240px;
          flex: 0 0 240px;
  margin: 16px 8px 0 16px;
}

.rwd .mainInfo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 693.33333px;
          flex: 0 1 693.33333px;
  margin: 16px 8px 0 8px;
}

.rwd .RightNav {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 346.66667px;
          flex: 0 1 346.66667px;
  margin: 16px 16px 0 8px;
}

@media screen and (max-width: 1024px) {
  .rwd .leftNav {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 240px;
            flex: 0 1 240px;
  }
  .rwd .mainInfo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 784px;
            flex: 0 1 784px;
  }
  .rwd .RightNav {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .rwd .leftNav {
    display: none;
  }
  .rwd .mainInfo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 768px;
            flex: 0 1 768px;
  }
  .rwd .RightNav {
    display: none;
  }
}

.homepage {
  width: 100%;
  height: 100%;
}

.footer {
  height: 10vh;
  background-color: #fafafa;
  border-top: 1px solid #bfbab7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer p {
  margin-left: auto;
}

.showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase .showcase01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
  padding: 2rem;
}

.showcase .showcase01 h1 {
  width: 60%;
  font-size: 3rem;
  text-align: center;
}

.showcase .showcase01 p {
  width: 50%;
  text-align: center;
  color: #bfbab7;
}

.showcase .showcase01 a {
  border: 1px solid #333333;
  font-size: 1.2rem;
  padding: 0.3rem 2rem;
  background-color: #ffd26d;
  color: #7a1e27;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.showcase .showcase01 a:hover {
  cursor: pointer;
}

.showcase .showcase01 a:visited {
  color: unset;
}

.showcase .showcase02,
.showcase .showcase03 {
  height: 60vh;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase .showcase02 img,
.showcase .showcase03 img {
  height: 20rem;
}

.showcase .showcase02 ul,
.showcase .showcase03 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fafafa;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8rem;
  padding: 0rem 10%;
  color: #333333;
}

.header .icon {
  width: 3rem;
  height: 3rem;
}

.header nav {
  margin-left: auto;
}

.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header nav ul li {
  margin: 0 1rem;
  list-style: none;
}

.header nav ul li a {
  text-decoration: none;
  font-size: 1rem;
}

.header nav ul li a:visited {
  color: unset;
}

.header nav ul li a:hover {
  color: #7a1e27;
}

.header nav ul li.signin {
  border: 1px solid #333333;
  border-radius: 3px;
  padding: 0.1rem 1rem;
}

.header nav ul li.signup {
  background-color: #ffd26d;
  color: #7a1e27;
  border-radius: 3px;
  padding: 0.1rem 1rem;
}
/*# sourceMappingURL=homepage.css.map */